*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.canvas (
  border: 5px solid blue;
)

.canvas-container {
  width:200px;
  height:300px
  margin - left: auto;
  margin-right: auto;
  margin-top: 3rem;
}