*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding: 0;
  margin:0; */
}

#canvas {
  margin: 3rem;
  display: block;
  background-color: #928484;
  border-color: #198419;
  

/* .canvas-container {
  
} */